<script>
    performance.mark('head:start');
</script>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% capture fullTitle %}{% if title %}{{ title }} | {% endif %}{{ site.title }}{% endcapture %}
<title>{{ fullTitle }}</title>

{% if preconnectOrigins %}
    {% for href in preconnectOrigins %}
        <link rel="preconnect" href="{{ href }}">
    {% endfor %}
{% endif %}

<script>
    performance.mark('head/js:start');
</script>
<script src="{% webpackAsset 'main.js' %}" defer></script>
{% if scriptInclude %}
    <script src="{% webpackAsset scriptInclude %}" defer></script>
{% endif %}
<script>
    performance.mark('head/js:end');
    performance.measure('head/js:time', 'head/js:start', 'head/js:end');
</script>

<script>
    performance.mark('head/css:start');
</script>
<link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
<script>
    performance.mark('head/css:end');
    performance.measure('head/css:time', 'head/css:start', 'head/css:end');
</script>

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/favicon/android-chrome-192x192.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | url }}">
<link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | url }}" color="{{ site.themeColor }}">
<link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | url }}">
<meta name="msapplication-TileColor" content="{{ site.themeColor }}">
<meta name="msapplication-config" content="{{ '/assets/favicon/browserconfig.xml' | url }}">
<meta name="theme-color" content="{{ site.themeColor }}">

<meta property="og:image" content="{{ '/assets/og-image.jpg' | url }}">
<meta property="og:image:width" content="320">
<meta property="og:image:height" content="320">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:title" content="{{ fullTitle }}">
<meta property="og:url" content="{{ '/' | url }}">
<meta property="og:type" content="website">

<meta name="description" content="{{scriptInclude}} | {{ site.description }}">
<link rel="canonical" href="{{ site.url | url }}">
<script>
    performance.mark('head:end');
    performance.measure('head:time', 'head:start', 'head:end');
</script>
