<div class="text-center mt-4 mb-js-reveal-top">
    <a class="{{ class }} js-scroll-trigger" href="{{ id }}" aria-label="Scroll down to {{ id | remove_first: '#' }}">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>
