---
layout: default
title: "404"
fixednav: true
bodyaddon: class="bg-dark text-light"
foot_additional: >
  {% include js/404.html %}
permalink: 404.html
---

<div class="container pt-5 mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col text-right">
      {% include svg/404-4.svg id='_404_4' %}
    </div>
    <div class="col px-2 text-center">
      {% include svg/404-0.svg id='_404_40' %}
    </div>
    <div class="col text-left">
      {% include svg/404-4.svg id='_404_404' %}
    </div>
  </div>
  <div class="row text-center my-5">
    <div class="col">
      <h1 class="text-uppercase">Page Not Found</h1>
      <hr class="hr-secondary my-4">
      <h4 class="text-monospace">Sorry, but the page you were trying to view could not be found.</h4>
      <a href="{{ '/' | absolute_url }}" class="btn btn-primary btn-lg text-uppercase mt-3">{% include svg/icon-home.svg class='svg-inline--fa fa-w-16 fa-lg mr-1' %}Take Me Home</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 text-center">
      <i class="fas fa-keyboard fa-3x text-secondary my-3"></i>
      <p>If you typed the address manually, check for typos.</p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <i class="far fa-envelope fa-3x text-secondary my-3"></i>
        <p>You can send me a <a href="mailto:{{ site.social_mail }}?subject=404-Error-Page" class="text-secondary">message</a> and tell me about the error.</p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <i class="fas fa-cogs fa-3x text-secondary my-3"></i>
      <p>Maybe I messed up and already try to fix the error so check back later.</p>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      {% include svg/icon-home.svg class='svg-inline--fa fa-w-16 fa-3x text-secondary my-3' %}
      <p>Or you can just check out the <a href="{{ '/' | absolute_url }}" class="text-secondary">homepage</a>.</p>
    </div>
  </div>
</div>
