<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#343a40",
      "text": "#f8f9fa"
    },
    "button": {
      "background": "#ad1457",
      "text": "#f8f9fa"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "We use cookies to analyse our website and to offer you the best possible experience with our website.",
    "dismiss": "OK!",
    "link": "Check out the legal notice",
    "href": "/legal-notice/"
  }
})});
</script>
