<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" integrity="sha256-9vPVPdIkAmHxV2la3zhqXAgBQpjBn2LM9jzRYploktA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js" integrity="sha256-Tb4gdeCN/ACKmhKQ3BSfbuNgIVYQzBlEvbYlwK7juDw=" crossorigin="anonymous"></script>

<script>
// Fancybox
$("[data-fancybox='fancybox-images']").fancybox({
  loop: true,
  toolbar: true,
  protect: true,
  buttons: ["close"],
  clickContent: false,
  animationEffect: "zoom-in-out",
  transitionEffect: "slide",
  baseClass: "fancy-moe",
  btnTpl: {
    arrowLeft: "<button data-fancybox-prev class='fancybox-button fancybox-button--arrow_left' title='{{PREV}}'>" +
    "<svg viewBox='0 0 40 40'>" +
    "<path d='M13,20,25,32,13,20,25,8,13,20'/>" +
    "</svg>" +
    "</button>",
    arrowRight: "<button data-fancybox-next class='fancybox-button fancybox-button--arrow_right' title='{{NEXT}}'>" +
    "<svg viewBox='0 0 40 40'>" +
    "<path d='M27,20,15,8,27,20,15,32,27,20'/>" +
    "</svg>" +
    "</button>",
  }
});
$("[data-fancybox='fancybox-panos'],[data-fancybox='fancybox-video']").fancybox({
  defaultType: "iframe",
  toolbar: true,
  buttons: ["close"],
  animationEffect: "zoom-in-out",
  baseClass: "fancy-moe",
});
</script>

<style>
{% capture fancy-style %}
.fancy-moe {
  .fancybox-toolbar {
    top: 0.5rem;
    right: 0.5rem;
  }
  .fancybox-button:focus {
    outline: 0;
  }
  .fancybox-button:focus, .fancybox-button:hover {
    color: var(--primary);
  }
  .fancybox-navigation button::before,
  .fancybox-button {
    border-radius: 10rem;
  }
  .fancybox-button--close:hover {
    color: var(--danger);
  }
  .fancybox-infobar {
    font-family: var(--font-family-monospace);
    background-color: rgba(30,30,30,.6);
    border-radius: 10rem;
    top: 0.5rem;
    left: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    min-width: 2rem;
  }
}
{% endcapture %}
{{ fancy-style | scssify }}
</style>
