{{site.dep_fancybox}}

<script>
$("[data-fancybox='fancybox-images']").fancybox({
  loop: true,
  toolbar: true,
  protect: true,
  buttons: ["close"],
  clickContent: false,
  animationEffect: "zoom-in-out",
  transitionEffect: "slide",
  baseClass: "fancy-moe"
});
$("[data-fancybox='fancybox-panos'],[data-fancybox='fancybox-video']").fancybox({
  defaultType: "iframe",
  toolbar: true,
  buttons: ["close"],
  animationEffect: "zoom-in-out",
  baseClass: "fancy-moe",
});
</script>

<style>
{% capture fancy-style %}
.fancy-moe {
  .fancybox-button {

    &:hover,
    &:focus {
      color: var(--secondary);
    }

    &--close {
      border-bottom-left-radius: 1.5em;
    }

    &--arrow_left,
    &--arrow_right {
      background: 0;
    }

    & div {
      background: rgba(30,30,30,.6);
      border-radius: 50%;
    }
  }

  .fancybox-infobar {
    font-family: var(--font-family-monospace);
    background-color: rgba(30,30,30,.6);
    border-radius: 2rem;
    top: 0.5rem;
    left: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    min-width: 2rem;
  }
}
{% endcapture %}
{{ fancy-style | scssify }}
</style>
