<noscript>
  <div class="noscript-overlay">
    <div class="container alert alert-danger text-center" role="alert">
      <h4 class="alert-heading">No Script Warning!</h4>
      <p>
        Sorry, your browser does not support JavaScript or it is turned off! For full functionality of {{ site.title}} | {{ site.url | prepend: site.baseurl }} it is necessary to enable JavaScript.<br>
        Here are the <a href="https://www.enable-javascript.com/" class="alert-link" target="_blank">instructions how to enable JavaScript in your web browser</a>.
      </p>
    </div>
  </div>
</noscript>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>

<script>
$(function () {
  $("[data-toggle='tooltip']").tooltip()
})
</script>

<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

{{ page.foot_additional | flatify }}
