$_404color1: $primary;
$_404color2: #a8a8a8;
$_404color3: #545454;
$maxWidth: 256px;

._4 {
    width: 100%;
    max-width: $maxWidth;

    &__bottom {
        fill: $_404color3;
    }

    &__top {
        fill: $_404color1;
    }

    &__hz {
        fill: $_404color2;
    }

    &__slant {
        fill: $_404color3;
    }
}

._0 {
    width: 100%;
    max-width: $maxWidth;

    &__circle {
        fill: $_404color2;
    }

    &__highlight {
        fill: $_404color1;
    }
}
