.mb-footer {
    color: $gray-500;

    &__text {
        margin: 0 0.3rem;

        & a {
            color: currentColor;
            text-decoration: underline dotted;

            @include hover-focus {
                color: $white;
                text-decoration: underline solid;
            }
        }
    }

    &__social {
        margin: 0 0.5rem;
        color: $gray-200;
        font-size: 2rem;

        @include transition($transition-base);

        @include hover-focus {
            outline: 0;
            text-decoration: none;
        }

        &--twitter:hover,
        &--twitter:focus {
            color: #1da1f2;
        }

        &--facebook:hover,
        &--facebook:focus {
            color: #3b5998;
        }

        &--threesixtycities:hover,
        &--threesixtycities:focus {
            color: #c33135;
        }

        &--sketchfab:hover,
        &--sketchfab:focus {
            color: #1faad8;
        }

        &--xing:hover,
        &--xing:focus {
            color: #006567;
        }

        &--linkedin:hover,
        &--linkedin:focus {
            color: #0077b5;
        }
    }
}
