html {
    scroll-behavior: smooth;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // hide highlighting on tap (touch) in webkit browsers
}

// make images non-selectable
img {
    user-select: none;
}

// highlighted text through selection styling
::selection {
    background: $gray-900;
    color: $white;
    text-shadow: none;
}

// hide standard dotted outline in firefox
:-moz-focusring {
    outline: 0;
}
