html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; // body can grow larger if we animate in from the side
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // hide highlighting on tap (touch) in webkit browsers
}

// make images non-selectable
img {
    user-select: none;
}

// highlighted text through selection styling
::selection {
    background: $gray-900;
    color: $white;
    text-shadow: none;
}

// hide standard dotted outline in firefox
:-moz-focusring {
    outline: 0;
}
