$hamburger: "mb-hamburger";

$hamburger-color: $gray-800;
$hamburger-color-hover: $primary;
$hamburger-height: 40px;
$hamburger-transition-time: 0.3s;

.#{$hamburger} {
    padding: 0;
    border: 0;
    color: $hamburger-color;
    outline: 0;

    @include transition($transition-base);

    @include hover-focus {
        border: 0;
        color: $hamburger-color-hover;
        outline: 0;
    }

    &__base {
        height: $hamburger-height;
        cursor: pointer;
        transition: transform $hamburger-transition-time;
        user-select: none;
    }

    &__line {
        fill: none;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-width: 6;
        transition: stroke-dasharray $hamburger-transition-time, stroke-dashoffset $hamburger-transition-time;

        &--top {
            stroke-dasharray: 40 121;
        }

        &--bottom {
            stroke-dasharray: 40 121;
        }
    }

    &:not(.collapsed) {
        .#{$hamburger}__base {
            transform: rotate(45deg);
        }

        .#{$hamburger}__line--top {
            stroke-dashoffset: -68;
        }

        .#{$hamburger}__line--bottom {
            stroke-dashoffset: -68;
        }
    }
}
