.mb-icon {
    --mb-icon-opacity: 0.5;

    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;

    &--lg {
        width: (4em / 3); // 1.333...
        height: (4em / 3); // 1.333...
        vertical-align: -0.3em;
    }

    &--2x {
        width: 2em;
        height: 2em;
    }

    &--3x {
        width: 3em;
        height: 3em;
    }

    &--4x {
        width: 4em;
        height: 4em;
    }
}
