$map-height: 32rem;

.mb-map {
    width: 100%;
    height: $map-height;
    border: 0;

    &--form {
        // c.f. section scss
        padding-top: 2 * $mb-transition-height;
        margin-bottom: -1.5 * $mb-transition-height;
        backface-visibility: hidden;
        clip-path: polygon(0 0, 50% $mb-transition-height, 100% 0, 100% ($map-height - $mb-transition-height), 50% 100%, 0 ($map-height - $mb-transition-height));
    }
}
