$transition-height: 3*16px; // 3rem
$map-height: 450px;

.mb-map {
    width: 100%;
    height: $map-height;
    border: 0;

    &--form {
        padding-top: 2 * $transition-height;
        clip-path: polygon(0 0, 50% $transition-height, 100% 0, 100% ($map-height - $transition-height), 50% 100%, 0 ($map-height - $transition-height));
    }
}
