.mb-nav {
    background-color: $white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);

    &__brand {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: $primary;
        font-weight: bold;
        text-transform: uppercase;

        @include transition($transition-base);

        @include hover-focus {
            color: $secondary;
        }
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        vertical-align: top;
    }

    &__list {
        text-align: center;

        &-link {
            padding-right: 1rem;
            padding-left: 1rem;
            color: $gray-800;
            font-weight: bold;
            text-transform: uppercase;

            @include hover-focus {
                color: $primary;
            }

            &.active {
                color: $primary;
            }
        }
    }
}
