$transition-height: 3rem;

.mb-section {
    padding-top: 2 * $transition-height;
    padding-bottom: 1.5 * $transition-height;
    margin-top: -$transition-height;
    clip-path: polygon(0 0, 50% $transition-height, 100% 0, 100% 100%, 0 100%);
}
