<footer id="footer" class="{{ page.footerclass }} text-muted py-5">
  <div class="container text-center">
    <a href="{{ site.social_twitter }}" target="_blank" rel="noopener" class="social-icon twitter" data-toggle="tooltip" data-placement="top" title="Twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="{{ site.social_facebook }}" target="_blank" rel="noopener" class="social-icon facebook" data-toggle="tooltip" data-placement="top" title="Facebook" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
    <a href="{{ site.social_360cities }}" target="_blank" rel="noopener" class="social-icon threesixtycities" data-toggle="tooltip" data-placement="top" title="360cities" aria-label="360cities">{% include svg/icon-360cities.svg class='svg-inline--fa fa-w-16' %}</a>
    <a href="{{ site.social_xing }}" target="_blank" rel="noopener" class="social-icon xing" data-toggle="tooltip" data-placement="top" title="XING" aria-label="XING"><i class="fab fa-xing"></i></a>
    <a href="{{ site.social_sketchfab }}" target="_blank" rel="noopener" class="social-icon sketchfab" data-toggle="tooltip" data-placement="top" title="Sketchfab" aria-label="Sketchfab">{% include svg/icon-sketchfab.svg class='svg-inline--fa  fa-w-16' %}</a>
    <a href="{{ site.social_linkedin }}" target="_blank" rel="noopener" class="social-icon linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <div class="d-flex flex-column flex-sm-row justify-content-center mt-3">
      <div class="list-footer">{{ site.title }}</div>
      <div class="list-footer d-none d-sm-inline-block border"></div>
      <div class="list-footer">2017 - {{ 'now' | date: "%Y" }}</div>
      <div class="list-footer d-none d-sm-inline-block border"></div>
      <div class="list-footer"><a href="{{ '/legal-notice' | absolute_url }}" class="text-muted">Legal Notice</a></div>
    </div>
  </div>
</footer>
