<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <!-- Title -->
  {% capture headtitle %}{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}{% endcapture %}
  <title>{{ headtitle }}</title>

  <!-- Description -->
  <meta name="description" content="{{ site.description }}">

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon/favicon-32x32.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ '/favicon/android-chrome-192x192.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon/favicon-16x16.png' | absolute_url }}">
  <link rel="manifest" href="{{ '/favicon/site.webmanifest' | absolute_url }}">
  <link rel="mask-icon" href="{{ '/favicon/safari-pinned-tab.svg' | absolute_url }}" color="{{ site.theme_color }}">
  <link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | absolute_url }}">
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
  <meta name="msapplication-config" content="{{ '/favicon/browserconfig.xml' | absolute_url }}">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <!-- Open Graph -->
  <meta property="og:image" content="{{ '/img/og-image.jpg' | absolute_url }}">
  <meta property="og:image:width" content="320">
  <meta property="og:image:height" content="320">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:title" content="{{ headtitle }}">
  <meta property="og:url" content="{{ '/' | absolute_url }}">
  <meta property="og:type" content="website">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">

</head>
