{% if page.fixednav %}
  {% assign navclass = "fixednav" %}
  {% capture navlink %}
    {{ '/' | absolute_url }}
  {% endcapture %}
{% else %}
  {% assign navclass = "navbar-scroll-transparent" %}
  {% assign navlink = "#home" %}
{% endif %}
<nav class="navbar navbar-expand-lg fixed-top compensate-for-scrollbar {{ navclass }}" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ navlink }}">
      {% include svg/mb-m.svg class="navbar-svg d-inline-block align-top" %}
      {% include svg/mb-b.svg class="navbar-svg d-inline-block align-top" %}
      <span class="d-none d-sm-inline ml-2">{{ site.title }}</span>
    </a>
    {% if page.fixednav %}
    <a href="{{ '/' | absolute_url }}" data-toggle="tooltip" data-placement="bottom" title="Home" aria-label="Home">{% include svg/icon-home.svg class='svg-inline--fa fa-w-16 fa-2x' %}</a>
    {% else %}
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Who</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">What</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#location">Where</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>
