$background-color: #343a40;
$background-color-a: rgba($background-color, 0.8);

$background-color-highlight: #212529;
$background-color-highlight-a: rgba($background-color-highlight, 0.8);

$scenelist-width: 255px;

// shadow used for coordinates
$shadow-blur: 4px;
$shadow-color: rgba(0, 0, 0, 0.6);

$font-family: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

$transition: all 0.3s ease-in-out;

@mixin icon_animation($transform_val_dis_off, $transform_val_dis_on, $transform_val_en_off, $transform_val_en_on) {
    .icon {
        transition: $transition;

        &.on {
            opacity: 0;
            transform: #{$transform_val_dis_on};
            // display: none;
        }

        &.off {
            opacity: 1;
            transform: #{$transform_val_dis_off};
            // display: block;
        }
    }

    &.enabled .icon {
        &.on {
            opacity: 1;
            transform: #{$transform_val_en_on};
            // display: block;
        }

        &.off {
            opacity: 0;
            transform: #{$transform_val_en_off};
            // display: none;
        }
    }
}

.icon {
    font-size: 25px;
    text-align: center;
}

* {
    box-sizing: border-box;
    -ms-content-zooming: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: $font-family;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:visited {
        color: inherit;
        text-decoration: none;
    }
}

#pano {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#titleBar {
    position: absolute;
    top: 0;
    right: 40px;
    left: 0;
    height: 40px;
    text-align: center;
}

.mobile #titleBar {
    right: 50px;
    height: 50px;
}

/* If there is a fullscreen button the title bar must make space for it */

body {
    &.fullscreen-enabled {
        #titleBar {
            right: 80px;
        }

        &.mobile #titleBar {
            right: 100px;
        }
    }

    &.multiple-scenes {
        #titleBar {
            left: 40px;
        }

        &.mobile #titleBar {
            left: 50px;
        }
    }
}

/* If there are multiple scenes the title bar must make space for the scene list toggle */

#titleBar .sceneName {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: $background-color;
    background-color: $background-color-a;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    // user-select: text;
}

.mobile #titleBar .sceneName {
    line-height: 40px;
}

#fullscreenToggle {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: $background-color-highlight;
    background-color: $background-color-highlight-a;
}

.mobile #fullscreenToggle {
    width: 50px;
    height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
    display: block;
}

#fullscreenToggle .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.mobile #fullscreenToggle .icon {
    top: 10px;
    right: 10px;
}

#fullscreenToggle {
    @include icon_animation(scale(1), scale(0), scale(0), scale(1));
}

#autorotateToggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: $background-color-highlight;
    background-color: $background-color-highlight-a;
}

.mobile #autorotateToggle {
    width: 50px;
    height: 50px;
}

/* If there is a fullscreen button, autorotate must placed a bit to the left */

body.fullscreen-enabled {
    #autorotateToggle {
        right: 40px;
    }

    &.mobile #autorotateToggle {
        right: 50px;
    }
}

#autorotateToggle .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.mobile #autorotateToggle .icon {
    top: 10px;
    right: 10px;
}

#autorotateToggle {
    @include icon_animation(rotate(0) scale(1), rotate(180deg) scale(0), rotate(-180deg) scale(0), rotate(0) scale(1));
}

#sceneListToggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: $background-color-highlight;
    background-color: $background-color-highlight-a;
}

.mobile #sceneListToggle {
    width: 50px;
    height: 50px;
}

#sceneListToggle {
    .text {
        position: absolute;
        top: 5px;
        left: 15px;
        width: 100%;
        line-height: 30px;
    }

    .icon {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
    }
}

.mobile #sceneListToggle .icon {
    top: 10px;
    right: 10px;
}

#sceneListToggle {
    @include icon_animation(rotateY(0) scale(1), rotateY(180deg) scale(0), rotateY(-180deg) scale(0), rotateY(0) scale(1));
}

#sceneList {
    position: absolute;
    top: 0;
    left: -$scenelist-width;
    width: $scenelist-width;
    max-height: 100%;
    padding-top: 40px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: margin-left 0.5s ease-in-out;
}

.mobile #sceneList {
    padding-top: 50px;
}

#sceneList .scenes {
    width: 100%;
    background-color: $background-color;
    background-color: $background-color-a;
}

.mobile #sceneList {
    left: -100%;
    width: 100%;
    height: 100%;

    &.enabled {
        margin-left: 100%;
    }

    .scenes {
        height: 100%;
    }
}

#sceneList {
    &.enabled {
        margin-left: $scenelist-width;
    }

    .scene {
        display: block;
        width: 100%;
        height: 30px;
    }
}

.mobile #sceneList .scene {
    height: 40px;
}

#sceneList .scene .text {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mobile #sceneList .scene .text {
    line-height: 40px;
}

.no-touch #sceneList .scene:hover,
#sceneList .scene.current {
    background-color: $background-color-highlight;
    background-color: $background-color-highlight-a;
}

/* Hide scene list when only a single scene exists */

body.single-scene {
    #sceneList,
    #sceneListToggle {
        display: none;
    }
}

/* Link hotspot */

.link-hotspot {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
    opacity: 1;
}

.mobile .link-hotspot {
    width: 70px;
    height: 70px;
}

.link-hotspot-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.link-hotspot-tooltip {
    position: absolute;
    top: 14px;
    /* ( 60 - (16 + 2*8) ) / 2 */
    left: 100%;
    overflow: hidden;
    max-width: 300px;
    padding: 8px 10px;
    margin-left: 3px;
    background-color: $background-color;
    background-color: $background-color-a;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    text-overflow: ellipsis;
    transform: translateX(-8px);
    transition: transform 0.3s, opacity 0.3s;
    white-space: nowrap;
}

.mobile .link-hotspot {
    top: 19px;
    /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
    opacity: 1;
    transform: translateX(0);
}

/* Prevent tooltip from triggering */

.link-hotspot-tooltip {
    pointer-events: none;
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
    pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */

.tooltip-fallback .link-hotspot-tooltip {
    display: none;
}

.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
    display: block;
}

/* Info hotspot */

.info-hotspot {
    line-height: 1.2em;
    opacity: 0.9;
    transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.info-hotspot {
    &.visible {
        opacity: 1;
    }

    .info-hotspot-header {
        width: 40px;
        height: 40px;
        background-color: $background-color-highlight;
        border-radius: 20px;
        cursor: pointer;
        transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
    }
}

.mobile .info-hotspot .info-hotspot-header {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.desktop {
    &.no-touch .info-hotspot .info-hotspot-header:hover {
        width: 260px;
        border-radius: 5px;
        transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }

    .info-hotspot.visible .info-hotspot-header,
    &.no-touch .info-hotspot.visible .info-hotspot-header:hover {
        width: 260px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }
}

.info-hotspot .info-hotspot-icon-wrapper {
    width: 40px;
    height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
    width: 50px;
    height: 50px;
}

.info-hotspot {
    .info-hotspot-icon {
        width: 90%;
        height: 90%;
        margin: 5%;
    }

    .info-hotspot-title-wrapper {
        position: absolute;
        top: 0;
        left: 40px;
        overflow: hidden;
        width: 0;
        height: 40px;
        padding: 0;
        transition: width 0s 0.4s, padding 0s 0.4s;
    }
}

.desktop {
    .info-hotspot.visible .info-hotspot-title-wrapper,
    &.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
        width: 220px;
        padding: 0 5px;
        transition: width 0s 0.4s, padding 0s 0.4s;
    }
}

.info-hotspot {
    .info-hotspot-title-wrapper::before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
    }

    .info-hotspot-title {
        display: inline-block;
        vertical-align: middle;
        // user-select: text;
    }

    .info-hotspot-close-wrapper {
        position: absolute;
        top: 0;
        left: 260px;
        width: 40px;
        height: 40px;
        background-color: rgb(78, 88, 104);
        border-top-right-radius: 5px;
        transform: perspective(200px) rotateY(90deg);
        transform-origin: 0 50% 0;
        transition: transform 0.3s 0.3s, visibility 0s 0.6s;
        visibility: hidden;
    }
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
    transform: perspective(200px) rotateY(0deg);
    transition: transform 0.3s, visibility 0s 0s;
    visibility: visible;
}

.info-hotspot {
    .info-hotspot-close-icon {
        width: 70%;
        height: 70%;
        margin: 15%;
    }

    .info-hotspot-text {
        position: absolute;
        top: 40px;
        left: 0;
        width: 300px;
        height: auto;
        max-height: 200px;
        padding: 10px;
        background-color: $background-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow-y: auto;
        transform: perspective(200px) rotateX(-90deg);
        transform-origin: 50% 0 0;
        transition: transform 0.3s, visibility 0s 0.3s;
        visibility: hidden;
        // user-select: text;
    }
}

.desktop {
    .info-hotspot.visible .info-hotspot-text {
        transform: perspective(200px) rotateX(0deg);
        transition: transform 0.3s 0.3s, visibility 0s 0s;
        visibility: visible;
    }

    .info-hotspot-modal {
        display: none;
    }
}

/* Info hotspot modal */

.info-hotspot-modal {
    position: absolute;
    z-index: 11000 !important;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 1.2em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
    visibility: hidden;

    &.visible {
        opacity: 1;
        transition: opacity 0.2s ease-in-out, visibility 0s 0s;
        visibility: visible;
    }

    .info-hotspot-header {
        position: absolute;
        top: 60px;
        right: 10px;
        left: 10px;
        width: auto;
        height: 50px;
        background-color: $background-color-highlight;
        background-color: $background-color-highlight-a;
        opacity: 0;
        transition: opacity 0.3s ease-in-out 0.2s;
    }

    &.visible .info-hotspot-header {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.2s;
    }

    .info-hotspot-icon-wrapper {
        width: 50px;
        height: 50px;
    }

    .info-hotspot-icon {
        width: 90%;
        height: 90%;
        margin: 5%;
    }

    .info-hotspot-title-wrapper {
        position: absolute;
        top: 0;
        right: 50px;
        left: 50px;
        width: auto;
        height: 50px;
        padding: 0 10px;

        &::before {
            display: inline-block;
            height: 100%;
            content: '';
            vertical-align: middle;
        }
    }

    .info-hotspot-title {
        display: inline-block;
        vertical-align: middle;
        // user-select: text;
    }

    .info-hotspot-close-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: rgb(78, 88, 104);
        background-color: rgba(78, 88, 104, 0.8);
        cursor: pointer;
    }

    .info-hotspot-close-icon {
        width: 70%;
        height: 70%;
        margin: 15%;
    }

    .info-hotspot-text {
        position: absolute;
        top: 110px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        padding: 10px;
        background-color: $background-color;
        background-color: $background-color-a;
        opacity: 0;
        overflow-y: auto;
        transition: opacity 0.3s ease-in-out;
        // user-select: text;
    }

    &.visible .info-hotspot-text {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.4s;
    }
}

/* View control buttons */

.viewControlButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: $background-color-highlight;
    background-color: $background-color-highlight-a;
}

body.view-control-buttons .viewControlButton {
    display: block;
}

/* Hide controls when width is too small */
@media (max-width: 600px) {
    body.view-control-buttons .viewControlButton {
        display: none;
    }
}

.viewControlButton .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

/* Center is at margin-left: -20px */

.viewControlButton-1 {
    margin-left: -145px;
}

.viewControlButton-2 {
    margin-left: -95px;
}

.viewControlButton-3 {
    margin-left: -45px;
}

.viewControlButton-4 {
    margin-left: 5px;
}

.viewControlButton-5 {
    margin-left: 55px;
}

.viewControlButton-6 {
    margin-left: 105px;
}

#coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1em;
    text-shadow: 0 1px $shadow-blur $shadow-color, 1px 0 $shadow-blur $shadow-color, 0 -1px $shadow-blur $shadow-color, -1px 0 $shadow-blur $shadow-color;
}

.mobile #coordinates {
    font-size: 0.9em;
}

#logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
