<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head %}
    </head>

    <body id="home" class="{{ bodyClass }}">

        {% include nav %}

        <main>
            {{ content }}
        </main>

        {% include footer %}

    </body>

</html>
