# Apache Server Configs v6.0.0 | MIT License
# https://github.com/h5bp/server-configs-apache

# (!) Using `.htaccess` files slows down Apache, therefore, if you have
#     access to the main server configuration file (which is usually
#     called `httpd.conf`), you should add this logic there.
#
#     https://httpd.apache.org/docs/current/howto/htaccess.html

# ######################################################################
# # ERRORS                                                             #
# ######################################################################

# ----------------------------------------------------------------------
# | Custom error messages/pages                                        |
# ----------------------------------------------------------------------

# Customize what Apache returns to the client in case of an error.
#
# https://httpd.apache.org/docs/current/mod/core.html#errordocument

ErrorDocument 404 /404.html

# ----------------------------------------------------------------------
# | Error prevention                                                   |
# ----------------------------------------------------------------------

# Disable the pattern matching based on filenames.
#
# This setting prevents Apache from returning a 404 error as the result of a
# rewrite when the directory with the same name does not exist.
#
# https://httpd.apache.org/docs/current/content-negotiation.html#multiviews

Options -MultiViews

# ######################################################################
# # WEB PERFORMANCE                                                    #
# ######################################################################

# ----------------------------------------------------------------------
# | Brotli pre-compressed content                                      |
# ----------------------------------------------------------------------

# Serve brotli compressed CSS, JS, HTML, SVG, ICS and JSON files if they exist
# and if the client accepts br encoding.
#
# (!) To make this part relevant, you need to generate encoded files by your
#     own. Enabling this part will not auto-generate brotlied files.
#
# (!) In special case of serving pre-compressed content only, note that
#     `DirectoryIndex` directive adjustments could be required to change
#     default resources priorities.
#     https://httpd.apache.org/docs/current/mod/mod_dir.html#directoryindex
#
# (1) Remove default Content-Language header added for .br files.
#     https://httpd.apache.org/docs/current/mod/mod_mime.html#multipleext
#
# Note that some clients (e.g. browsers) require a secure connection to request
# brotli-compressed resources.
# https://www.chromestatus.com/feature/5420797577396224
#
# https://httpd.apache.org/docs/current/mod/mod_brotli.html#precompressed

<IfModule mod_rewrite.c>

    RewriteCond %{HTTP:Accept-Encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -f
    RewriteRule \.(css|ics|js|json|html|svg)$ %{REQUEST_URI}.br [L]

    # Prevent mod_deflate double gzip
    RewriteRule \.br$ - [E=no-gzip:1]

    <FilesMatch "\.br$">

        <IfModule mod_mime.c>
            # (1)
            RemoveLanguage .br

            # Serve correct content types
            AddType text/css              css.br
            AddType text/javascript       js.br
            AddType application/json      json.br
            AddType text/html             html.br
            AddType image/svg+xml         svg.br

            # Serve correct content charset
            AddCharset utf-8 .css.br \
                             .js.br \
                             .json.br
        </IfModule>

        <IfModule mod_headers.c>
            # Force proxies to cache brotlied and non-brotlied files separately
            Header append Vary Accept-Encoding
        </IfModule>

    </FilesMatch>

    <IfModule mod_mime.c>
        # Serve correct encoding type
        AddEncoding br .br
    </IfModule>

</IfModule>

# ----------------------------------------------------------------------
# | Cache expiration                                                   |
# ----------------------------------------------------------------------

# Serve resources with a far-future expiration date.
#
# (!) If you don't control versioning with filename-based cache busting, you
#     should consider lowering the cache times to something like one week.
#
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires
# https://httpd.apache.org/docs/current/mod/mod_expires.html

<IfModule mod_expires.c>

    ExpiresActive on

    # Default: Fallback
    ExpiresDefault                                      "access plus 1 year"

    # Specific: Assets
    ExpiresByType image/vnd.microsoft.icon              "access plus 1 week"
    ExpiresByType image/x-icon                          "access plus 1 week"

    # Specific: Manifests
    ExpiresByType application/manifest+json             "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json   "access"
    ExpiresByType text/cache-manifest                   "access"

    # Specific: Data interchange
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rdf+xml                   "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

    # Specific: Documents
    ExpiresByType text/html                             "access"
    ExpiresByType text/markdown                         "access"
    ExpiresByType text/calendar                         "access"

    # Specific: Other
    ExpiresByType text/x-cross-domain-policy            "access plus 1 week"

    # Generic: Data
    ExpiresByType application/json                      "access"
    ExpiresByType application/ld+json                   "access"
    ExpiresByType application/schema+json               "access"
    ExpiresByType application/geo+json                  "access"
    ExpiresByType application/xml                       "access"
    ExpiresByType text/xml                              "access"

    # Generic: WebAssembly
    ExpiresByType application/wasm                      "access plus 1 year"

    # Generic: Assets
    ExpiresByType application/javascript              "access plus 1 year"
    ExpiresByType application/x-javascript            "access plus 1 year"
    ExpiresByType text/javascript                     "access plus 1 year"
    ExpiresByType text/css                            "access plus 1 year"

    # Generic: Medias
    ExpiresByType audio/*                             "access plus 1 year"
    ExpiresByType image/*                             "access plus 1 year"
    ExpiresByType video/*                             "access plus 1 year"
    ExpiresByType font/*                              "access plus 1 year"

</IfModule>
