---
import Layout from '@/layouts/Layout.astro';
import Prose from '@/components/Prose.astro';
import svg404 from '@/assets/404.svg?raw';
---

<Layout title="404">
  <Prose class="container p-8 text-center">
    <Fragment
      set:html={svg404}
      aria-hidden="true"
    />
    <h1 class="mt-8">Page Not Found</h1>
    <hr class="mx-auto" />
    <p class="text-xl">Sorry, but the page you were trying to view could not be found.</p>
  </Prose>
</Layout>
