---
import Layout from '@/layouts/Layout.astro';
import Prose from '@/components/Prose.astro';
import Icon404 from '~icons/mb/404';
---

<Layout title="404">
  <Prose class="container p-8">
    <Icon404 class="h-auto w-full p-4" />
    <h1>Page Not Found</h1>
    <hr />
    <p class="text-xl">Sorry, but the page you were trying to view could not be found.</p>
  </Prose>
</Layout>
