---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';

import ImgMoritz from '@/assets/images/moritz.jpg';
import ImgCV from '@/assets/images/cv.jpg';

import DripDivider from '@/components/DripDivider.astro';
import HeroSection from '@/components/HeroSection.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout title="Home">
  <section class="dui-hero min-h-[80vh] bg-base-300">
    <div class="dui-hero-content flex max-w-prose flex-col gap-8 text-center">
      <Image
        src={ImgMoritz}
        width="512"
        alt="Portrait of Moritz"
        class="image-blob rounded-full shadow-xl saturate-[.8]"
        loading="eager"
      />
      <h1 class="text-4xl font-thin">
        Hi there, I'm <span class="font-bold">Moritz Brunnengräber</span>
      </h1>
    </div>
  </section>

  <DripDivider class="bg-base-300" />

  <HeroSection class="bg-primary pb-4 pt-24 text-primary-content">
    <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
      <div class="flex flex-col items-center">
        <h2 class="text-3xl">About me</h2>
        <hr class="mb-8 mt-2 w-hr rounded border-2 border-secondary" />
        <p class="max-w-sm text-balance px-4">
          I'm a frontend software engineer who finds joy in the intricacies of code, design and
          user-experience. If you want to get to know me better, be sure to check out my CV.
        </p>
      </div>
      <a
        href="CV-Moritz-Brunnengraeber.pdf"
        class="dui-link dui-tooltip dui-tooltip-secondary mb-8 min-w-fit max-w-[50vw] rounded-lg transition motion-safe:hover:scale-105"
        data-tip="Click to open"
        target="_blank"
      >
        <Image
          src={ImgCV}
          width="256"
          class="rounded-lg shadow-xl md:shadow-2xl"
          alt="CV Moritz Brunnengräber"
        />
      </a>
    </div>
  </HeroSection>

  <DripDivider class="bg-primary" />

  <HeroSection class="bg-base-200 pb-4 pt-24 text-base-content">
    <h2 class="text-3xl">Get in touch</h2>
    <hr class="mb-8 mt-2 w-hr rounded border-2 border-secondary" />
    <ContactForm />
  </HeroSection>

  <DripDivider class="bg-base-200" />
</Layout>

<style>
  @media (prefers-reduced-motion: no-preference) {
    .image-blob {
      animation: image-blob-animation 24s ease-in-out infinite;
    }
  }

  @keyframes image-blob-animation {
    0%,
    100% {
      border-radius: 53% 47% 33% 67% / 44% 45% 55% 56%;
    }
    25% {
      border-radius: 40% 60% 59% 41% / 37% 60% 40% 63%;
    }
    50% {
      border-radius: 29% 71% 29% 71% / 56% 44% 56% 44%;
    }
    75% {
      border-radius: 56% 44% 25% 75% / 34% 38% 62% 66%;
    }
  }
</style>
