// 404
$_404color1: $primary;
$_404color2: #a8a8a8;
$_404color3: #545454;

._4 {
  width: 100%;
  max-width: 256px;
  ._4_bottom {
    fill: $_404color3;
  }
  ._4_top {
    fill: $_404color1;
  }
  ._4_hz {
    fill: $_404color2;
  }
  ._4_slant {
    fill: $_404color3;
  }
}

._0 {
  width: 100%;
  max-width: 256px;
  ._0_circle {
    fill: $_404color2;
  }
  ._0_hightlight {
    fill: $_404color1;
  }
}
