// Global styling for this template
body {
  font-family: $font-family-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

@mixin hr-emphasis-variant($parent, $color) {
  #{$parent} {
    border-color: $color !important;
  }
}
@each $color, $value in $theme-colors {
  @include hr-emphasis-variant(".hr-#{$color}", $value);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 6rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:-moz-focusring {
  outline: 0;
}
