// Moe's Custom stuff

// =============================================================================
// Misc

.load-invisible {
  display:none;
}

// hide every sr class (scroll reveal or screen reader)
[class*='sr-'] {
  visibility: hidden;
}

img,
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.text-monospace {
  font-family: $font-family-monospace;
}


// =============================================================================
// Particles

#bg-particle {
  position: fixed;
  width: 100vw;
  height: calc(100vh);
  z-index: -10;
  background-color: $gray-800;
  background-image: linear-gradient(to bottom, $gray-700, $gray-900);
}

// =============================================================================
// Masthead

.header-image {
  width: 70%;
  height: auto;
  max-width: 300px;
}

$header-shadow-color: rgba(0,0,0,0.5);
$header-text-shadow-blur: 5px;

.header-box-shadow {
  box-shadow: 0 0 10px 5px $header-shadow-color;
}

.header-text-shadow {
  text-shadow:
    1px 1px $header-text-shadow-blur $header-shadow-color,
    1px -1px $header-text-shadow-blur $header-shadow-color,
    -1px 1px $header-text-shadow-blur $header-shadow-color,
    -1px -1px $header-text-shadow-blur $header-shadow-color,
}


// =============================================================================
// Google maps

#google_map {
  width: 100%;
  height: 450px;
  border: 0;
}

// =============================================================================
// Textarea

$text-area-border-radius: 1em;
.textarea {
  border-top-right-radius: $text-area-border-radius !important;
  border-bottom-right-radius: $text-area-border-radius !important;
  overflow: hidden;
}
.textarea-prepend {
  border-top-left-radius: $text-area-border-radius !important;
  border-bottom-left-radius: $text-area-border-radius !important;
}

.textarea-text-vertcenter {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}
.textarea-text-vertcenter::before {
  transform: translateY(-100%);
}

// =============================================================================
// Background

.bg-0 {
  background: 0;
}

// background fixed gradient
// @mixin bg-fixed-gradient($parent, $color) {
//   #{$parent} {
//     background: $color linear-gradient(0deg, darken($color, 15%), $color, lighten($color, 15%) ) repeat-x fixed !important;
//   }
// }
// @each $color, $value in $theme-colors {
//   @include bg-fixed-gradient('.bg-fixed-gradient-#{$color}', $value);
// }

// =============================================================================
// Material icons

@for $i from 1 through 5 {
    .mdi-#{$i}x {
      &.mdi::before {
        font-size: #{$i}em;
      }
    }
    .mdi-top-#{$i}px {
      position: relative;
      top: #{$i}px;
    }
  }

.mdi-donkey-fix::before {
  font-size: 29px !important;
  top: 3px !important;
}

.mdi-lh1.mdi::before {
  line-height: 1em;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 2px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before,
.input-group-text .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


// =============================================================================
// Fancybox
.fancybox-toolbar {
  top: 0.5em;
  right: 0.5em;
}
.fancybox-button:focus {
  outline: 0;
}
.fancybox-button:focus, .fancybox-button:hover {
    color: $primary;
}
.fancybox-navigation button::before,
.fancybox-button {
  border-radius: 10em;
}
.fancybox-button--close:hover {
  color: $danger;
}
.fancybox-infobar {
  font-family: $font-family-monospace;
  background: rgba(30,30,30,.6);
  border-radius: 10em;
  top: 0.5em;
  left: 0.5em;
}

// =============================================================================
// Social Icons
.social-icon{
  font-size: 2em;
  color: $gray-100;
  margin: 0 0.5em;
  @include transition($transition-base);
  &:hover, &:focus, &:active {
    outline: 0;
  }
  &:hover, &:focus {
    &.fb { color: #3b5998;}
    &.gp { color: #dd4b39;}
    &.mail { color: $gray-600}
    &.tsc { color: #c33135;}
  }
  &:active {
    &.fb { color: darken(#3b5998, 10%);}
    &.gp { color: darken(#dd4b39, 10%);}
    &.mail { color: darken($gray-600, 10%)}
    &.tsc { color: darken(#c33135, 10%);}
  }
}

// =============================================================================
// Footer

footer {
  padding: 5rem 0;
}

.list-footer {
  font-family: $font-family-monospace;
  font-size: 0.8em;
  margin: 0 0.4em;
  & a {
    color: inherit;
    border-bottom: dotted 1px;
    &:focus, &:active, &:hover {
      outline: 0;
      border-bottom-color: $white;
    }
  }
}
