// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  box-shadow: 0 -5px 10px 5px rgba(0,0,0,0.6);
  font-family: $font-family-sans-serif;
  @include transition($transition-base);
  transition-property: background-color, color, box-shadow;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    font-family: $font-family-sans-serif;
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    text-align: center;
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    .navbar-brand {
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      box-shadow: 0 -5px 10px 5px rgba(0,0,0,0.6);
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: darken($primary, 10%);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.navbar-toggler {
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  &:hover, &:focus {
    outline: 0;
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: $primary;
    }
  }
  .hamburger-box {
    width: 32px;
    height: 1rem;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    &, &::before, &::after {
      width: 32px;
      height: 4px;
      background-color: $gray-800;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: $navbar-toggle-timing;
      transition-timing-function: ease;
    }
    &::before, &::after {
      content: "";
      display: block;
    }
    &::before {
      top: -0.5rem;
    }
    &::after {
      bottom: -0.5rem;
    }
  }//hamburger-inner
  &:not(.collapsed) {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: $navbar-toggle-timing;
      transition-timing-function: ease;
      &::before {
        top: 0;
        opacity: 0;
        transition: top $navbar-toggle-timing ease, opacity 0.01s $navbar-toggle-timing ease;
      }
      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom $navbar-toggle-timing ease, transform $navbar-toggle-timing $navbar-toggle-timing ease;
      }
    }
  }//not collapsed
  &.collapsed {
    .hamburger-inner {
      transition-duration: $navbar-toggle-timing;
      transition-timing-function: ease;
      &::before {
        transition: top $navbar-toggle-timing $navbar-toggle-timing ease, opacity $navbar-toggle-timing $navbar-toggle-timing ease;
        }
      &::after {
        transition: bottom $navbar-toggle-timing $navbar-toggle-timing ease, transform $navbar-toggle-timing ease;
      }
    }
  }//collapsed
}//navbar-toggler
