---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'>;

const { class: className, ...attrs } = Astro.props;
---

<section
  class:list={['dui-hero min-h-[60vh]', className]}
  {...attrs}
>
  <div class="dui-hero-content flex max-w-prose flex-col">
    <slot />
  </div>
</section>
