---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: className } = Astro.props;
---

<div
  class:list={[
    'prose dark:prose-invert prose-a:text-primary prose-a:break-words prose-p:text-pretty prose-hr:border-t-4 prose-hr:border-secondary prose-hr:w-hr',
    className,
  ]}

>
  <slot />
</div>
