---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'svg'>;

const { class: className, ...attrs } = Astro.props;
---

<div
  class="prose dark:prose-invert prose-a:text-primary prose-a:break-words prose-p:text-justify"
  class:list={[className]}
>
  <slot />
</div>
