---
import { Icon } from 'astro-icon/components';

const socialLinks = [
  {
    label: 'github',
    url: 'https://github.com/MoritzBru',
    icon: 'ph:github-logo-duotone',
  },
  {
    label: 'linkedin',
    url: 'https://www.linkedin.com/in/moritz-brunnengraeber/',
    icon: 'ph:linkedin-logo-duotone',
  },
];
---

<footer class="bg-base-100 px-8 pb-12 pt-32 text-base-content">
  <div class="container flex flex-col items-center justify-around gap-8 sm:flex-row">
    <aside class="gap-px text-lg">
      <div class="mb-4 flex gap-1">
        <Icon
          name="m"
          class="size-8"
          aria-hidden="true"
        />
        <Icon
          name="b"
          class="size-8"
          aria-hidden="true"
        />
      </div>
      <p>Moritz Brunnengräber</p>
      <p>2017 - {new Date().getFullYear()}</p>
      <a
        href="/legal-notice"
        class="dui-link"
      >
        Legal Notice</a
      >
    </aside>
    <ul class="flex gap-4">
      {
        socialLinks.map((item) => (
          <li>
            <a
              href={item.url}
              target="_blank"
              class="dui-btn dui-btn-circle dui-btn-ghost"
              title={item.label}
            >
              <span class="sr-only">{item.label}</span>
              <Icon
                name={item.icon}
                class="size-8"
                aria-hidden="true"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
