---
import IconMoon from '~icons/ph/moon-stars-duotone';
import IconSun from '~icons/ph/sun-duotone';
import IconM from '~icons/mb/m';
import IconB from '~icons/mb/b';
---

<nav class="dui-navbar sticky top-0 bg-base-100 bg-opacity-75 text-base-content shadow backdrop-blur z-30">
  <div class="dui-navbar-start">
    <a
      class="dui-btn dui-btn-ghost dui-btn-lg gap-1 text-xl font-semibold tracking-wide"
      href="/"
      aria-label="Moritz Brunnengräber"
    >
      <IconM
        class="size-10"
        aria-hidden="true"
      />
      <span
        class="hidden sm:block"
        aria-hidden="true"
      >
        oritz</span
      >
      <IconB
        class="size-10 sm:ml-4"
        aria-hidden="true"
      />
      <span
        class="hidden sm:block"
        aria-hidden="true"
      >
        runnengräber</span
      >
    </a>
  </div>
  <div class="dui-navbar-end">
    <button
      class="dui-btn dui-btn-circle dui-btn-ghost dui-swap dui-swap-rotate dui-btn-lg"
      x-bind:class="{ 'dui-swap-active': theme === 'dark' }"
      x-on:click="toggleTheme"
    >
      <span class="sr-only">Toggle Theme</span>
      <IconMoon
        aria-hidden="true"
        class="dui-swap-off size-10"
      />
      <IconSun
        aria-hidden="true"
        class="dui-swap-on size-10"
      />
    </button>
  </div>
</nav>
