---
import { Icon } from 'astro-icon/components';
---

<nav
  class="dui-navbar sticky top-0 z-30 bg-base-100 bg-opacity-75 text-base-content shadow backdrop-blur"
>
  <div class="dui-navbar-start">
    <a
      class="dui-btn dui-btn-ghost dui-btn-lg gap-1 text-xl font-semibold tracking-wide"
      href="/"
      aria-label="Moritz Brunnengräber Home"
    >
      <Icon
        name="m"
        class="size-10"
        aria-hidden="true"
      />
      <Icon
        name="b"
        class="size-10"
        aria-hidden="true"
      />
      <span
        class="hidden sm:block"
        aria-hidden="true"
      >
        Moritz Brunnengräber
      </span>
    </a>
  </div>
  <div class="dui-navbar-end">
    <button
      class="dui-btn dui-btn-circle dui-btn-ghost dui-swap dui-swap-rotate dui-btn-lg"
      x-bind:class="{ 'dui-swap-active': theme === 'dark' }"
      x-on:click="transitionTheme"
    >
      <span class="sr-only">Toggle Theme</span>
      <Icon
        name="ph:moon-stars-duotone"
        class="dui-swap-off size-10"
        aria-hidden="true"
      />
      <Icon
        name="ph:sun-duotone"
        class="dui-swap-on size-10"
        aria-hidden="true"
      />
    </button>
  </div>
</nav>
