---
layout: default
fixednav: true
bodyClass: "bg-dark text-light"
permalink: "404.html"
scriptInclude: 404.js
---

<div class="container pt-5 mt-5">
    <div class="row p-3 d-flex justify-content-center">
        <div class="col px-2 text-right">
            {% include svg/404-4.svg, id: "_404__4" %}
        </div>
        <div class="col px-2 text-center">
            {% include svg/404-0.svg, id: "_404__40" %}
        </div>
        <div class="col px-2 text-left">
            {% include svg/404-4.svg, id: "_404__404" %}
        </div>
    </div>
    <div class="row text-center my-5">
        <div class="col">
            <h1 class="text-uppercase"><span class="text-secondary">Error</span><br>Page Not Found</h1>
            <hr class="mb-hr text-secondary">
            <h4 class="text-monospace">Sorry, but the page you were trying to view could not be found.</h4>
            <a href="{{ '/' | url }}" class="btn btn-primary btn-lg text-uppercase my-3"><svg class="mb-icon mb-icon--lg mr-2"><use xlink:href="/assets/icon-defs.svg#mb-icon-home"></use></svg>Take Me Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <svg class="mb-icon mb-icon--3x text-secondary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-keyboard"></use></svg>
            <p>If you typed the address manually, check for typos.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <svg class="mb-icon mb-icon--3x text-secondary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-mail"></use></svg>
            <p>You can send me a message and tell me about the error.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <svg class="mb-icon mb-icon--3x text-secondary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-cogs"></use></svg>
            <p>Maybe I messed up and already try to fix the error so check back later.</p>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <svg class="mb-icon mb-icon--3x text-secondary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-home"></use></svg>
            <p>Or you can just check out the homepage.</p>
        </div>
    </div>
</div>