// Color
$primary:       #3f51b5; // Indigo500
$secondary:     #ad1457; // Pink800
$success:       #2e7d32; // Green800
$info:          #546e7a; // BlueGrey600
$warning:       #fdd835; // Yellow600
$danger:        #c62828; // Red800

// Font
// $font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-serif:           "Roboto Slab", $font-family-sans-serif;
// $font-family-monospace:       "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Links
$link-decoration:             none;
$link-hover-decoration:       underline;

// Border radius
$round-border-radius:         10rem;
$btn-border-radius:           $round-border-radius;
$btn-border-radius-lg:        $round-border-radius;
$btn-border-radius-sm:        $round-border-radius;

// Indicators for Checkboxes and Radios
$custom-control-indicator-bg:                 #adb5bd; // bootstrap gray500
$custom-control-indicator-size:               1.2rem;
$custom-control-indicator-focus-box-shadow:   0 0 0 0.2rem rgba($primary, 0.25); // $input-btn-focus-box-shadow (😞not yet defined)
$custom-control-indicator-bg-size:            60% 60%;
$custom-checkbox-indicator-border-radius:     0.15rem;

// mb
$mb-transition-height: 3rem;
