---
layout: default
bodyClass: "bg-dark"
preconnectOrigins:
    - https://maps.googleapis.com
    - https://www.google.com
---

<div class="mb-particles" id="mb-particles-id"></div>

<header class="mb-header text-center text-light d-flex">
    <div class="container my-auto">
        <img
            class="mb-header__image rounded-circle mb-3"
            width="400"
            height="400"
            alt="Moritz Portrait"
            data-creepyface
            src="assets/creepyface/normal.jpg"
            data-src-hover="assets/creepyface/crazy.jpg"
            data-src-look-0="assets/creepyface/up.jpg"
            data-src-look-45="assets/creepyface/up-right.jpg"
            data-src-look-90="assets/creepyface/right.jpg"
            data-src-look-135="assets/creepyface/down-right.jpg"
            data-src-look-180="assets/creepyface/down.jpg"
            data-src-look-225="assets/creepyface/down-left.jpg"
            data-src-look-270="assets/creepyface/left.jpg"
            data-src-look-315="assets/creepyface/up-left.jpg"
            onload="performance.clearMarks('heroimg:displayed'); performance.mark('heroimg:displayed');"
        />
        <script>
            performance.clearMarks("heroimg:displayed");
            performance.mark("heroimg:displayed");
        </script>
        <h1 class="mb-header__text"><span class="font-weight-light">Hi I'm </span><span class="font-weight-bold">Moritz Brunnengräber</span></h1>
        <div class="mb-header__btn-wrapper mt-5">
            <a class="btn btn-secondary btn-lg px-4 text-uppercase" href="#about">Get to know me</a>
        </div>
        {{ test.version }}
    </div>
</header>

<section class="mb-section bg-primary text-light" id="about">
    <div class="container text-center">
        <h2>Who I am</h2>
        <hr class="mb-hr text-secondary">
        <p>
            I am {% age "1991-02-20" %} years old and live in Munich.<br/>
            I studied Geodesy&nbsp;and&nbsp;Geoinformation with specialisation in Photogrammetry, Remote Sensing, and Cartography at the Technical&nbsp;University&nbsp;of&nbsp;Munich.<br/>
            At the moment I work as a Frontend Software Engineer at Netcentric.<br/>
            In my free-time and besides coding I like to play squash, go hiking, play video games and hang around with friends.
        </p>
    </div>
</section>

<section class="mb-section bg-light" id="services">
  <div class="container text-center">
    <h2>What I do</h2>
        <hr class="mb-hr text-primary">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="mb-js-reveal mb-js-reveal-icons"><svg class="mb-icon mb-icon--4x text-primary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-laptop"></use></svg></div>
                <h3>Webdevelopment</h3>
                <p class="mt-3">I like building modern and responsive websites while improving my CSS and JS skills.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="mb-js-reveal mb-js-reveal-icons"><svg class="mb-icon mb-icon--4x text-primary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-camera"></use></svg></div>
                <h3>Photography</h3>
                <p class="mt-3">I have fun at photography: on the ground or in the air, night or day, long time exposure or time-lapse.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="mb-js-reveal mb-js-reveal-icons"><svg class="mb-icon mb-icon--4x text-primary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-drone"></use></svg></div>
                <h3>Drones</h3>
                <p class="mt-3">I enjoy flying with my drone making aerial photographies and especially fully spherical aerial panoramic images.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="mb-js-reveal mb-js-reveal-icons"><svg class="mb-icon mb-icon--4x text-primary my-3"><use xlink:href="/assets/icon-defs.svg#mb-icon-map"></use></svg></div>
                <h3>Maps</h3>
                <p class="mt-3">I fancy designing and building interactive web-based maps with frameworks like Mapbox.</p>
            </div>
        </div>
    </div>
</section>

<section class="mb-section bg-dark text-light" id="location">
    <div class="container-fluid px-0 text-center">
        <h2>Where I am</h2>
        <hr class="mb-hr text-secondary">
        <script src="https://maps.googleapis.com/maps/api/js?key={{ site.api.googleMaps }}&callback=initMap" defer></script>
        <div class="mb-map mb-map--form"></div>
    </div>
</section>

<section class="mb-section bg-secondary text-light" id="portfolio">
    <div class="container text-center">
        <h2>Have a look at my work</h2>
        <hr class="mb-hr text-dark">

        <div class="row text-dark">
        {% for work in portfolio %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card flex-fill shadow my-3 mb-js-reveal mb-js-reveal-{% cycle 'left', 'bottom', 'right' %}">
                    <img class="card-img-top border-bottom h-auto" src="{{ work.title | slug | prepend: '/assets/portfolio/' | append: '.jpg' | url }}" width="540" height="352" alt="{{ work.title }}" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title">{{ work.title }}</h3>
                        <p class="card-text">{{ work.text }}</p>
                    </div>
                    <div class="card-footer border-top-0 bg-transparent">
                        <a href="{{ work.link | url }}"
                        {% if work.lightbox %}
                            data-lightbox data-group="{{ work.lightbox }}"
                        {% else %}
                            target="_blank" rel="noopener"
                        {% endif %}
                        class="btn btn-outline-primary btn-block"><svg class="mb-icon mb-icon--lg mr-2"><use xlink:href="/assets/icon-defs.svg#mb-icon-{{ work.btnIcon }}"></use></svg>{{ work.btnText }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-md-6 d-none d-md-flex d-lg-none align-items-stretch">
                <div class="card flex-fill shadow my-3 mb-js-reveal mb-js-reveal-bottom">
                    <img class="card-img-top border-bottom h-auto" src="{{ '/assets/portfolio/shrug.jpg' | url }}" width="540" height="352" alt="Shrug" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title">More coming soon...</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none">
        {% for imgIdx in (2..17) %}
            <a href="{{ imgIdx | prepend: 'assets/gallery/mb-' | append: '.jpg' | url }}" data-lightbox data-group="mb-lightbox-images"></a>
        {% endfor %}
        </div>
    </div>
</section>

<section class="mb-section bg-light" id="contact">
    <div class="container text-center">
        <h2>Drop me a message</h2>
        <hr class="mb-hr text-primary">

        <form class="mb-js-contact-form" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mb-contact-form__name" class="sr-only">Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><svg class="mb-icon mb-icon--lg"><use xlink:href="/assets/icon-defs.svg#mb-icon-user"></use></svg></div>
                        </div>
                        <input type="text" name="name" class="form-control rounded-right" id="mb-contact-form__name" placeholder="Your Name" required>
                        <div class="invalid-feedback ml-5">I want to know who wrote me.</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="mb-contact-form__email" class="sr-only">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><svg class="mb-icon mb-icon--lg"><use xlink:href="/assets/icon-defs.svg#mb-icon-mail"></use></svg></div>
                        </div>
                        <input type="email" name="email" class="form-control rounded-right" id="mb-contact-form__email" placeholder="Your Email" required>
                        <div class="invalid-feedback ml-5">I need a valid email so that I can perhaps reply.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="mb-contact-form__text" class="sr-only">Message</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><svg class="mb-icon mb-icon--lg"><use xlink:href="/assets/icon-defs.svg#mb-icon-comment"></use></svg></div>
                    </div>
                    <textarea name="message" class="form-control rounded-right" id="mb-contact-form__text" rows="4" placeholder="The Message…" required></textarea>
                    <div class="invalid-feedback ml-5">I thought you were here to write me a message?!</div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-md-6 pl-sm-5">
                    <div class="custom-control custom-checkbox text-left mb-3">
                        <input type="checkbox" class="custom-control-input" id="mb-contact-form__data" required>
                        <label class="custom-control-label" for="mb-contact-form__data">Agreement that the data will be stored and processed only for the purpose of communication. The data will not be passed on to third parties!</label>
                        <div class="invalid-feedback">Please check this. I promise, this data is only used for sending me an email with your issue.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <script src="https://www.google.com/recaptcha/api.js?hl=en" defer></script>
                    <div class="g-recaptcha d-inline-block" data-sitekey="{{ site.api.recaptcha }}" data-theme="light"></div>
                </div>
            </div>
            <div class="mb-js-contact__feedback my-3"></div>
            <div class="form-row">
                <div class="col-md-6 my-2">
                    <div class=""><button type="reset" class="btn btn-outline-secondary btn-block text-uppercase"><svg class="mb-icon mb-icon--lg mr-2"><use xlink:href="/assets/icon-defs.svg#mb-icon-backspace"></use></svg>Reset</button></div>
                </div>
                <div class="col-md-6 my-2">
                    <div class=""><button type="submit" class="btn btn-outline-primary btn-block text-uppercase"><svg class="mb-icon mb-icon--lg mr-2"><use xlink:href="/assets/icon-defs.svg#mb-icon-send"></use></svg>Send</button></div>
                </div>
            </div>
        </form>
    </div>
</section>
