footer {
  .list-footer {
    // font-family: $font-family-monospace;
    font-size: .9rem;
    margin: 0 0.5rem;
    border-color: $text-muted !important;
    & a {
      text-decoration: underline dotted;
      @include hover-focus {
        text-decoration: underline solid;
      }
    }
  }

  .social-icon{
    font-size: 2rem;
    color: $gray-200;
    margin: 0 0.5rem;
    @include transition($transition-base);
    @include hover-focus {
      outline: 0;
      text-decoration: none;
      &.facebook { color: #3b5998;}
      &.googleplus { color: #dd4b39;}
      &.email { color: $gray-600}
      &.threesixtycities { color: #c33135;}
      &.sketchfab { color: #1faad8;}
      &.xing { color: #006567;}
    }
  }
}
