
.masthead {
  height: 100vh;
  min-height: 650px;
  .header-shadow {
    box-shadow: 0 0 1rem #000;
  }
  .header-image {
    width: 70%;
    height: auto;
    max-width: 320px;
  }
  .header-text {
    text-shadow: 0 0 1rem #000;
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
}
