// Moritz misc stuff

// =============================================================================
// max width grid $grid-breakpoints

@each $breakpoint, $width in $grid-breakpoints {
  .maxwidth-#{$breakpoint} { max-width: $width; }
}

// =============================================================================
// noscript-overlay

.noscript-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  .alert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// =============================================================================
// Particles

#bg-particle {
  position: fixed;
  width: 100vw;
  height: calc(100vh);
  z-index: -10;
  background-color: $gray-800;
  background-image: linear-gradient(to bottom, $gray-700, $gray-900);
}

// =============================================================================
// Google maps

#google_map {
  width: 100%;
  height: 450px;
  border: 0;
}

// =============================================================================
// Input & textarea

.input-rounded-right {
  border-top-right-radius: $input-border-radius !important;
  border-bottom-right-radius: $input-border-radius !important;
}
.textarea {
  border-top-right-radius: $text-area-border-radius !important;
  border-bottom-right-radius: $text-area-border-radius !important;
  overflow: hidden;
}
.textarea-prepend {
  border-top-left-radius: $text-area-border-radius !important;
  border-bottom-left-radius: $text-area-border-radius !important;
}
