#mainNav {
  .navbar-svg {
    height: 30px;
  }
  background-color: $white;
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.6);
  font-family: $font-family-sans-serif;
  @include transition($transition-base);
  transition-property: background-color, color, box-shadow;

  .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: $primary;
    @include transition($transition-base);
    @include hover-focus {
      color: darken($primary, 10%);
    }
  }

  .navbar-nav {
    text-align: center;

    .nav-item .nav-link {
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 1rem;
      padding-right: 1rem;
      color: $gray-800;
      @include hover-focus {
        color: $primary;
      }

      &.active {
        color: $primary;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &:not(fixednav).navbar-scroll-transparent {
      background-color: transparent;
      box-shadow: none;

      .navbar-brand {
        color: rgba($white, 0.4);
        @include hover-focus {
          color: rgba($white, 0.8);
        }
      }
      
      .navbar-nav .nav-item .nav-link {
        color: rgba($white, 0.4);
        @include hover-focus {
          color: rgba($white, 0.8);
        }
      }
    }
  }
}

$_hamburger-color: $gray-800;
$_hamburger-color-hover: $primary;
$_hamburger-height: 40px;
$_hamburger-transition-time: 0.3s;

.navbar-toggler {
  border: 0;
  outline: 0;
  padding: 0;
  color: $_hamburger-color;
  @include transition($transition-base);
  @include hover-focus {
    border: 0;
    outline: 0;
    color: $_hamburger-color-hover;
  }
}

.hamburger {
  &__base {
    height: $_hamburger-height;
    cursor: pointer;
    transition: transform $_hamburger-transition-time;
    user-select: none;
  }

  &__line {
    fill: none;
    transition: stroke-dasharray $_hamburger-transition-time,
      stroke-dashoffset $_hamburger-transition-time;
    stroke: currentColor;
    stroke-width: 6;
    stroke-linecap: round;

    &--top {
      stroke-dasharray: 40 121;
    }

    &--bottom {
      stroke-dasharray: 40 121;
    }
  }

  &:not(.collapsed) {
    .hamburger__base {
      transform: rotate(45deg);
    }

    .hamburger__line--top {
      stroke-dashoffset: -68;
    }

    .hamburger__line--bottom {
      stroke-dashoffset: -68;
    }
  }
}
